<style>
    .w3-input.ng-invalid.ng-dirty {
        border-color: #dc3545;
    }

    .w3-check.ng-invalid.ng-dirty {
        box-shadow: inset 0px 0px 1px 2px #dc3545;
    }
</style>
<form class="w3-form" name="contactForm" data-ng-submit="openPrivacy=!openPrivacy;">
    <div class="w3-row w3-section">
        <div class="w3-col" style="width:32px">
            <i class="w3-xlarge w3-padding-8 fd-text-accent fa fa-user"></i>
        </div>
        <div class="w3-rest ">
            <div class="w3-half w3-row-padding">
                <input class="w3-input" name="firstname" type="text" data-ng-model="user.firstname" required placeholder="Nome*" aria-label="Nome">
                <div class="error-container" role="alert" ng-show="contactForm.firstname.$dirty && contactForm.firstname.$invalid">
                    <b class="w3-text-red w3-small" ng-show="contactForm.firstname.$error.required">Inserire il nome</b>
                </div>
            </div>
            <div class="w3-half w3-row-padding">
                <input class="w3-input" name="surname" type="text" data-ng-model="user.surname" required placeholder="Cognome*" aria-label="Cognome">
                <div class="error-container" role="alert" ng-show="contactForm.surname.$dirty && contactForm.surname.$invalid">
                    <b class="w3-text-red w3-small" ng-show="contactForm.surname.$error.required">Inserire il cognome.</b>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-row w3-section">
        <div class="w3-col" style="width:32px">
            <i class="w3-xlarge w3-padding-8 fd-text-accent fa fa-phone"></i>
        </div>
        <div class="w3-rest w3-row-padding">
            <input class="w3-input" name="phoneNumber" type="text" data-ng-model="user.phoneNumber" required placeholder="Telefono *"
                aria-label="Telefono">
            <div class="error-container" role="alert" ng-show="contactForm.phoneNumber.$dirty && contactForm.phoneNumber.$invalid">
                <b class="w3-text-red w3-small" ng-show="contactForm.phoneNumber.$error.required">Inserire il numero.</b>
                <b class="w3-text-red w3-small" ng-show="contactForm.phoneNumber.$error.pattern">Inserire un numero di telefono valido.</b>
            </div>
        </div>
    </div>
    <div class="w3-row w3-section">
        <div class="w3-col" style="width:32px">
            <i class="w3-xlarge w3-padding-8 fd-text-accent fa fa-envelope-o"></i>
        </div>
        <div class="w3-rest w3-row-padding">
            <input class="w3-input" name="email" type="text" data-ng-model="user.email" data-ng-maxlength="100" data-ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                required placeholder="Email* [nome@dominio.it]" aria-label="Email">
            <div class="error-container" role="alert" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
                <b class="w3-text-red w3-small" ng-show="contactForm.email.$error.required">Inserire la mail.</b>
                <b class="w3-text-red w3-small" ng-show="contactForm.email.$error.pattern">Inserire un indirizzo mail valido (user@dominio.it).</b>
                <b class="w3-text-red w3-small" ng-show="contactForm.email.$error.maxlength">La lunghezza massima è di 100 caratteri.</b>
            </div>
        </div>
    </div>
    <div class="w3-row w3-section">
        <div class="w3-col" style="width:32px">
            <i class="w3-xlarge w3-padding-8 fd-text-accent fa fa-pencil"></i>
        </div>
        <div class="w3-rest  w3-row-padding">
            <textarea class="w3-input" name="message" data-ng-model="user.message" required placeholder="Richiesta/Descrizione del problema*"
                aria-label="Richiesta"></textarea>
            <div class="error-container" role="alert" ng-show="contactForm.message.$dirty && contactForm.message.$invalid">
                <b class="w3-text-red w3-small" ng-show="contactForm.message.$error.required">Se non ci spieghi il problema, non possiamo aiutarti, compila la tua richiesta.</b>
            </div>
        </div>
    </div>
    <div class="w3-row w3-section">
        <div class="w3-row-padding" style="margin-left:32px">
            <input class="w3-check" type="checkbox" checked="checked" data-ng-model="user.privacyAgree" required aria-label="Accettazione Privacy">
            <label>Accetta la normativa sulla
                <a data-ng-click="ctrl.openPrivacy()" class="fd-text-accent" style="cursor:pointer">Privacy</a>
            </label>
        </div>
    </div>

    <button type="submit" class="w3-btn w3-right fd-accent w3-theme-light" data-ng-disabled="contactForm.$invalid">Invia</button>
</form>